Plugins>Waveform Processing for ImageJ, "Align...", com.github.jonmarsh.waveform_processing_for_imagej.AlignWaveforms
Plugins>Waveform Processing for ImageJ, "Average Waveforms", com.github.jonmarsh.waveform_processing_for_imagej.AverageWaveforms
Plugins>Waveform Processing for ImageJ, "Binomial Filter...", com.github.jonmarsh.waveform_processing_for_imagej.BinomialFilter
Plugins>Waveform Processing for ImageJ, "Butterworth Filter...", com.github.jonmarsh.waveform_processing_for_imagej.ButterworthFilter
Plugins>Waveform Processing for ImageJ, "Envelope...", com.github.jonmarsh.waveform_processing_for_imagej.Envelope
Plugins>Waveform Processing for ImageJ, "FFT...", com.github.jonmarsh.waveform_processing_for_imagej.FFTComplex
Plugins>Waveform Processing for ImageJ, "Generate B-Scan Gates...", com.github.jonmarsh.waveform_processing_for_imagej.GateBScanInteractively
Plugins>Waveform Processing for ImageJ, "Generate C-Scan Gates...", com.github.jonmarsh.waveform_processing_for_imagej.GateCScanInteractivelySwing
Plugins>Waveform Processing for ImageJ, "Interpolate Clipped Regions...", com.github.jonmarsh.waveform_processing_for_imagej.InterpolateClippedRegions
Plugins>Waveform Processing for ImageJ>Moving Window Analysis, "Band-Limited Power...", com.github.jonmarsh.waveform_processing_for_imagej.MovingWindowBandLimitedPower
Plugins>Waveform Processing for ImageJ>Moving Window Analysis, "Weighted Average...", com.github.jonmarsh.waveform_processing_for_imagej.MovingWindowWeightedAverage
Plugins>Waveform Processing for ImageJ>Moving Window Analysis, "Segment Median...", com.github.jonmarsh.waveform_processing_for_imagej.MovingWindowMedian
Plugins>Waveform Processing for ImageJ>Moving Window Analysis, "Segment Range...", com.github.jonmarsh.waveform_processing_for_imagej.MovingWindowRange
Plugins>Waveform Processing for ImageJ>Moving Window Analysis, "Sum of Squares...", com.github.jonmarsh.waveform_processing_for_imagej.MovingWindowSumOfSquares
Plugins>Waveform Processing for ImageJ>Moving Window Analysis, "Segment Variance...", com.github.jonmarsh.waveform_processing_for_imagej.MovingWindowVariance
Plugins>Waveform Processing for ImageJ>Moving Window Analysis, "Zero Crossing Count...", com.github.jonmarsh.waveform_processing_for_imagej.MovingWindowZeroCrossingCount
Plugins>Waveform Processing for ImageJ, "Sector Scan Conversion...", com.github.jonmarsh.waveform_processing_for_imagej.SectorScanConvert
Plugins>Waveform Processing for ImageJ, "Smooth with Spline...", com.github.jonmarsh.waveform_processing_for_imagej.SmoothWithSpline
Plugins>Waveform Processing for ImageJ, "Smoothing Spline Resize...", com.github.jonmarsh.waveform_processing_for_imagej.SmoothingSplineResize
Plugins>Waveform Processing for ImageJ, "Subtract from Waveform...", com.github.jonmarsh.waveform_processing_for_imagej.SubtractFromWaveform
Plugins>Waveform Processing for ImageJ, "Waveform Math...", com.github.jonmarsh.waveform_processing_for_imagej.WaveformMath
Plugins>Waveform Processing for ImageJ>Tools, "Create Image from Text...", com.github.jonmarsh.waveform_processing_for_imagej.TextToImage
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Average Value", com.github.jonmarsh.waveform_processing_for_imagej.MeanValue
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Kurtosis", com.github.jonmarsh.waveform_processing_for_imagej.Kurtosis
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Maximum Value", com.github.jonmarsh.waveform_processing_for_imagej.MaximumValue
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Maximum Position", com.github.jonmarsh.waveform_processing_for_imagej.MaximumIndex
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Median Value", com.github.jonmarsh.waveform_processing_for_imagej.MedianValue
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Minimum Value", com.github.jonmarsh.waveform_processing_for_imagej.MinimumValue
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Minimum Position", com.github.jonmarsh.waveform_processing_for_imagej.MinimumIndex
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Range", com.github.jonmarsh.waveform_processing_for_imagej.Range
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Skewness", com.github.jonmarsh.waveform_processing_for_imagej.Skewness
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Spectral Maximum...", com.github.jonmarsh.waveform_processing_for_imagej.SpectralMaximum
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Sum of Squared Values", com.github.jonmarsh.waveform_processing_for_imagej.SumOfSquares
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Waveform Variance...", com.github.jonmarsh.waveform_processing_for_imagej.Variance
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Waveform Extrema...", com.github.jonmarsh.waveform_processing_for_imagej.WaveformExtrema
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Zero Crossing Count", com.github.jonmarsh.waveform_processing_for_imagej.ZeroCrossingCount
Plugins>Waveform Processing for ImageJ>Waveform Measurements, "Zero Crossing Locations...", com.github.jonmarsh.waveform_processing_for_imagej.ZeroCrossingLocations